html, body {
  margin: 0;
  height: 100%;
}

.outer-container {
  display: flex;
  height: 80%;
}
.lefter {
  width: 1%;
  height: 100%;
  background-color: bisque;
  float: left;
}
.righter {
  width: 19%;
  height: 100%;
  background-color: bisque;
  float: right;
}
.midder {
  flex: 1;
  height: 100%;
  /*background-color: cadetblue;*/
}

.buyinput {
  margin-left: 1%;
  font-size: 20px;
  width: 50%;
  /*height: 40%;*/
}
/*.table-c {margin-left: 3%;margin-top: 1%; text-align: center;}*/
.table-c table{border-right:1px solid #F00;border-bottom:1px solid #F00;}
.table-c table td{border-left:1px solid #F00;border-top:1px solid #F00}


