<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="#B4E6FB">
		<link rel="stylesheet" href="../../static/css/stock.css">
		<title>行情分时</title>
	</head>
	<body>
	 <div style="width: 100%;height: 2%;">
        <!--  <td>星币：余额：46085477　可用：4608.55万　市值：2908.94万　仓位：33.90%　帐面资产：8580.25万　盈亏：<span
                 style="color: red; ">-7159.17万</span></td>-->
    </div>

    <div class="outer-container">
        <div class="lefter"></div>
        <div id="m-line" class="midder"></div>
        <div class="righter">
            <div style="width: 100%;height: 10%;">
                <button id="slow"  disabled="disabled">减速</button>
                <button id="start"  disabled="disabled">开始</button>
                <button id="speed" disabled="disabled">加速</button>
            </div>
            <div style="width: 100%;height: 20%;">
            <div> 最大值介绍</div>
            <div style="margin-top: 5%; width: 100%;height: 30%;">
                <b style="font-size: 30px">价格</b>
                <input id="price" class="buyinput" type="number" step="0.01" min="0.01" max="100000" onkeyup="this.value=this.value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')"></input>
            </div>
            <div style="margin-top: 5%; width: 100%;height: 40%;">
                 <b style="font-size: 30px">数量</b>
                <input id="num" class="buyinput" type="number" step="100" min="100"  onkeyup="this.value=this.value.replace(/[^\d]/g,'')"></input>
            </div>
            <div style="margin-top: 10%;margin-left: 20%;">
                <input type="button" style="font-size: 25px" value="买入" id="buy" >
                 <input type="button" style="font-size: 25px" value="卖出" id="sale" >
            </div>
                <div class="table-c">
             <table id="willlist"  border="0" cellspacing="0" cellpadding="0" width="80%">
                <tr >
                    <th >股票代码</th><th>价格</th><th>数量</th><th>事件</th><th>操作</th>
                </tr>
            </table>


        </div>
		</div>

    </div>

    <div style="width: 100%;height: 10%;">
        <div style="width: 100%;height:100% ">
            <div class="table-c" style="margin-left: 3%;margin-top: 1%; text-align: center;">
             <table id="stocklist"  border="0" cellspacing="0" cellpadding="0" width="80%">
                <tr >
                    <th >股票代码</th><th>成本价</th><th>现价</th><th>数量</th><th>可用</th><th>市值</th>
                </tr>
            </table>

             <p id="account_info"></p>
         </div>
        </div>
    </div>
        <script src="../../static/js/page/jquery-3.3.1.min.js"></script>
		<script src="../../static/js/page/echarts.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/tmpData.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/k-line.js" type="text/javascript" charset="utf-8"></script>
	 	<script src="../../static/js/stockM.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
