<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="#B4E6FB">
		<link rel="stylesheet" href="../../static/css/stock.css">
		<title>行情</title>  
	</head>
	<body>
	 <div style="width: 100%;height: 10%;">
        <div style="width: 100%;height:100% ; background-color: blue" ></div>
    </div>

    <div class="outer-container">
        <div class="lefter"></div>
        <div id="k-content" class="midder"></div>
        <div class="righter">
			<button id="add" onclick="addline()">添加</button>
		</div>
    </div>

    <div style="width: 100%;height: 10%;">
        <div style="width: 100%;height:100% ; background-color: blue" ></div>
    </div>
		<script src="../../static/js/page/jquery-3.3.1.min.js"></script>
		<script src="../../static/js/page/echarts.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/tmpData.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/k-line.js" type="text/javascript" charset="utf-8"></script>
	 	<script src="../../static/js/stock.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
